import java.nio.file.Paths


params {
        //config_dir = "conf"
        MD_ANACONDA = "Anaconda3/2020.07" 
        CONDA_ENV = "/camp/stp/babs/working/schneid/conda/envs/RegenieGWA" 
}

//
// General configuration options
//


singularity {
	enabled = true
	runOptions = "-B /camp"
}

process {

	executor = "slurm"

	//publish_mode = "copy"
	publish_mode = "symlink"
	publish_overwrite = true

	publishDir = [
		path: { Paths.get( "results" ) },
		mode: publish_mode,
		overwrite: publish_overwrite
	]

}
